<!--
  Generated template for the LandlordloginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title style="text-align: center">Landlord Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
 
  <form *ngIf="login" [formGroup]="login" (ngLogin)="submit()">

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input formControlName="email"  type="email"></ion-input>
    </ion-item>
      <ion-item *ngIf="login.controls.email.invalid && login.controls.email.dirty">
          <p>Please enter Email</p>
        </ion-item>
    
    
  
        
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input formControlName="password"  type="text"></ion-input>
    </ion-item>
    <ion-item *ngIf="login.controls.password.invalid && login.controls.password.dirty">
    <p>Please enter Password</p>
    
    </ion-item>
    
    
    
    <div padding-horizontal>
      <div class="form-error">{{loginError}}</div>
      <button ion-button outline (click)="submit()" [disabled]="login.invalid" >Login</button>
    
    
      <ion-row>
          <button ion-button  clear (click) = "forgotpassword()" style="color:blue">Forgot password?</button>
        </ion-row>
    </div>
    </form>
    
  
</ion-content>
