page-authentication {

    ion-slide {
       background-color: transparent;
      }
   
      ion-slide img {
        height: 100vh !important;
        width: auto !important;
      }




    .swiper-pagination-bullet-active {
        background: red;
        background-color: red;
        }

    .welcome-wrapper{
        display: grid;
        grid-template-rows: auto 170px;
        height: 100%;

        .one{
            background: #eee;
            padding: 15px;

            // .img{
            //     widows: 100%;
            //      height:auto;
            //    }
        }

   
        .two{
            padding: 8px;
            
            .row{
                bottom: 0;
                left: 0;
                right: 0;
                position: absolute;
                width: 100%;
                padding: 2px;

                .col{
                    bottom: 0;
                    left: 0;
                    right: 0;
                    padding: 0px 1px 0px 0px ;
                }
            }
        }
      
    }

    #pic2{
        height: 100%;
        width: 100%;
        background-image: url(../../assets/imgs/2.jpg);
    }

    // .swiper-pagination-bullet-active {
    //     background: red;
    //     background-color: white;
    //     }

}
