page-authentication {
    #start{
        position: absolute;
        bottom: 50px;
        left: 40px;
        width: calc(100% - 80px);
        // border: 2px solid #1cd8d2;
        // color: #1cd8d2;
        background: transparent;
        font-size: 13px;
        //background: linear-gradient(to right, #4ac29a, #bdfff3); 
        box-shadow: none;
        z-index: 9999;
        border-radius: 20px !important;
        margin-top: 30px !important;
        padding: 0 20px;
    
    }

  
  

 
        .two{
            // padding: 8px;
            
            .row{
                bottom: 0;
                left: 0;
                right: 0;
                position: absolute;
                width: 100%;
                padding: 2px;

                .col{
                    bottom: 0;
                    left: 0;
                    right: 0;
                    padding: 0px 1px 0px 0px ;
                }
            }
        }
    }



