
   page-home {
   

}
    #mapid { 
        height: 100%;
     }
   //   .content{
   //    background-color: burlywood !important;
    // }

     .select-modal {
        background: rgba(0, 0, 0, 0.5) !important;
        padding: 20% 10%  !important;
        width: 50px;
     }

