


<ion-content padding class="body" text-center>

  <form [formGroup]="student">



    <ion-item>
      <ion-label floating>Fullname</ion-label>
      <ion-input formControlName="fullname" type="text"></ion-input>
    </ion-item>

    <ion-item *ngIf="student.controls.fullname.invalid && student.controls.fullname.dirty">
      <p>Please enter Fullname</p>
    </ion-item>


    <ion-item>
      <ion-label floating>Lastname</ion-label>
      <ion-input formControlName="lastname" type="text"></ion-input>
    </ion-item>

    <ion-item *ngIf="student.controls.lastname.invalid && student.controls.lastname.dirty">
      <p>Please enter Lastname</p>

    </ion-item>

    <ion-item>
      <ion-label floating>Gender</ion-label>
      <ion-select formControlName="gender">
        <ion-option value="female">Female</ion-option>
        <ion-option value="male">Male</ion-option>
        <ion-option value="transgender">Transgender</ion-option>

      </ion-select>
    </ion-item>
    <ion-item *ngIf="student.controls.gender.invalid && student.controls.gender.dirty">
      <p>Please enter Gender</p>
    </ion-item>



    <ion-item>
        <ion-label floating>Race</ion-label>
        <ion-select formControlName="race">
          <ion-option value="black">Black</ion-option>
          <ion-option value="white">White</ion-option>
      
  
        </ion-select>
      </ion-item>
      <ion-item *ngIf="student.controls.race.invalid && student.controls.race.dirty">
        <p>Please enter race</p>
      </ion-item>



    <ion-item>
      <ion-label floating>Date of birth</ion-label>
      <ion-input formControlName="dob" type="Date"></ion-input>
    </ion-item>
    <ion-item *ngIf="student.controls.dob.invalid && student.controls.dob.dirty">
      <p>Please enter date of birth</p>
    </ion-item>

    <ion-item>
      <ion-label floating>Contact Number</ion-label>
      <ion-input formControlName="contact" type="Number"></ion-input>
    </ion-item>


    <ion-item *ngIf="student.controls.contact.invalid && student.controls.contact.dirty">
      <p>Please enter your contact number</p>
    </ion-item>


    <ion-item>
      <ion-label floating>Address</ion-label>
      <ion-input formControlName="address" type="Address"></ion-input>
    </ion-item>


    <ion-item *ngIf="student.controls.address.invalid && student.controls.address.dirty">
      <p>Please enter your address</p>
    </ion-item>






    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <ion-item *ngIf="student.controls.email.invalid && student.controls.email.dirty">
      <p>Please enter username</p>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input formControlName="password" type="text"></ion-input>
    </ion-item>
    <ion-item *ngIf="student.controls.password.invalid && student.controls.password.dirty">
      <p>Please enter password</p>
    </ion-item>

    <br>
    <button ion-button block round (click)="onSubmit()">Submit</button>
  </form>


  <br>

</ion-content>