<!-- 
<ion-header>

  <ion-navbar>
    <ion-title >Landlord</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <form [formGroup]="person" (ngSubmit)="onSubmit(person)">
      <ion-item> <ion-icon name="person" item-start></ion-icon>
        <ion-label floating>FullName</ion-label>
        <ion-input formControlName="name" type="text"></ion-input>
      </ion-item>

      <div *ngIf = "person.controls.name.invalid && person.controls.name.dirty">
        <p>Please enter Your Full Name</p>
      </div>
  
   

      <ion-item>   <ion-icon name="person-add" item-start></ion-icon>
          <ion-label floating>Username</ion-label>
          <ion-input formControlName="username" type="text"></ion-input>
        </ion-item>
    
        <div *ngIf = "person.controls.username.invalid && person.controls.username.dirty">
          <p>Please enter Username</p>
        </div>

  
      <ion-item>
          <ion-icon name="transgender" item-start></ion-icon>
        <ion-label floating>Gender</ion-label>
        <ion-input formControlName="gender" type="text"></ion-input>
      </ion-item>
  
      <div *ngIf = "person.controls.gender.invalid && person.controls.gender.dirty">
        <p>Please enter Gender</p>
      </div>

      <ion-item>
        
        <ion-label floating>City</ion-label>
        <ion-input formControlName="city" type="text"></ion-input>
      </ion-item>
  
      <div *ngIf = "person.controls.city.invalid && person.controls.city.dirty">
        <p>Please enter City</p>
      </div>
  


      <ion-item>
    
        <ion-label floating>Address</ion-label>
        <ion-input formControlName="address" type="text"></ion-input>
      </ion-item>
  
      <div *ngIf = "person.controls.address.invalid && person.controls.address.dirty">
        <p>Please enter you address</p>
      </div>




      <ion-item>
          <ion-icon name="contact" item-start></ion-icon> 
          <ion-label floating>Contact</ion-label>
          <ion-input formControlName="contact" type="number"></ion-input>
        </ion-item>

      <div *ngIf = "person.controls.contact.invalid && person.controls.contact.dirty">
          <p>Please enter Your contact</p>
        </div>

        <ion-item>
            <ion-icon name="mail" item-start></ion-icon>
            <ion-label floating>Email</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
          </ion-item>
  
        <div *ngIf = "person.controls.email.invalid && person.controls.email.dirty">
            <p>Please enter Your email</p>
          </div>
 


          <ion-item>
              <ion-icon name="unlock" item-start></ion-icon>
              <ion-label floating>Password</ion-label>
              <ion-input formControlName="password" type="password"></ion-input>
            </ion-item>
    
          <div *ngIf = "person.controls.password.invalid && person.controls.password.dirty">
              <p>Please enter Your Password</p>
            </div>


      <button ion-button full type="submit" [disabled]="person.invalid">Register</button>
    </form>
  </ion-content> -->









<ion-content padding class="body" text-center>

  <form [formGroup]="student">



    <ion-item>
      <ion-label floating>Fullname</ion-label>
      <ion-input formControlName="fullname" type="text"></ion-input>
    </ion-item>

    <ion-item *ngIf="student.controls.fullname.invalid && student.controls.fullname.dirty">
      <p>Please enter Fullname</p>
    </ion-item>


    <ion-item>
      <ion-label floating>Lastname</ion-label>
      <ion-input formControlName="lastname" type="text"></ion-input>
    </ion-item>

    <ion-item *ngIf="student.controls.lastname.invalid && student.controls.lastname.dirty">
      <p>Please enter Lastname</p>

    </ion-item>

    <ion-item>
      <ion-label floating>Gender</ion-label>
      <ion-select formControlName="gender">
        <ion-option value="female">Female</ion-option>
        <ion-option value="male">Male</ion-option>
        <ion-option value="transgender">Transgender</ion-option>

      </ion-select>
    </ion-item>
    <ion-item *ngIf="student.controls.gender.invalid && student.controls.gender.dirty">
      <p>Please enter Gender</p>
    </ion-item>




    <ion-item>
      <ion-label floating>Date of birth</ion-label>
      <ion-input formControlName="dob" type="Date"></ion-input>
    </ion-item>
    <ion-item *ngIf="student.controls.dob.invalid && student.controls.dob.dirty">
      <p>Please enter date of birth</p>
    </ion-item>

    <ion-item>
      <ion-label floating>Contact Number</ion-label>
      <ion-input formControlName="contact" type="Number"></ion-input>
    </ion-item>


    <ion-item *ngIf="student.controls.contact.invalid && student.controls.contact.dirty">
      <p>Please enter your contact number</p>
    </ion-item>


    <ion-item>
      <ion-label floating>Address</ion-label>
      <ion-input formControlName="address" type="Address"></ion-input>
    </ion-item>


    <ion-item *ngIf="student.controls.address.invalid && student.controls.address.dirty">
      <p>Please enter your address</p>
    </ion-item>






    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <ion-item *ngIf="student.controls.email.invalid && student.controls.email.dirty">
      <p>Please enter username</p>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input formControlName="password" type="text"></ion-input>
    </ion-item>
    <ion-item *ngIf="student.controls.password.invalid && student.controls.password.dirty">
      <p>Please enter password</p>
    </ion-item>

    <br>
    <button ion-button block round (click)="onSubmit()">Submit</button>
  </form>


  <br>

</ion-content>