page-welcome {

    .content{
        // margin: 0;
        // left: 0;
        background-image: url(../../assets/imgs/welcome.PNG);
        background-repeat: no-repeat;
         background-size:cover;
    //    display: block;
        // margin-left: auto;
        // margin-right: auto;
    }
    .welcome-wrapper{
        display: grid;
        grid-template-rows: auto 170px;
        height: 100%;

        // .one{

        // }
        .two{
            padding: 10px;

            .button{
                margin: auto;
                width: 80%;
            }
        }
    }
    p{
        text-align: center;
        
    }
}
