page-welcome {

    .wrapper-welcome{
        display: grid;
        height: 100%;
        grid-template-rows: 60% auto;
         background-color: darkslategrey;
    
        .top-view{
            // background-color: blue;
        }

        .bottom-view{
            margin: auto;
            text-align: center;
            color: goldenrod;
            width: 100%;
            padding: 10px;
            
            .button{
                width: 80%;
                background-color: goldenrod;
            }
        }
    }
}
